@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body{
  background-image: url(https://images.unsplash.com/photo-1617565085015-13cb9d366120?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 100vh;
}

header{
  max-width: 100%;
  display: flex;
  background-color: rgba(14, 14, 14, 0.3);
  margin: 0 30px;
  height: 10vh;
  border: 5px;
  border-color: black;
  border-radius: 10px;
}

h1{
  
  margin: auto;
  color: #fff;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  padding: auto;
  font-size: 8vh;
}

.main {
  font-family: 'Amatic SC', cursive;
  
  overflow: hidden;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}



.container{
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slide{
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}

.slide h1{
  color: black;
  border: 5px;
  bottom: 40px;
}
.slide h3{
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  font-size: 7vh;
}

.slide.active{
  flex: 10;
}

.slide.active h3{
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}